server:
  port: 7000
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/backgroundmanagement
    username: root
    password: root
mybatis:
  mapper-locations: classpath:mappers/*.xml
